@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(reset.css);
:root {
  --clr-teal: #34b1c4;
  --clr-btn-primary: #008cba;
  --clr-btn: #454545;
  --clr-bg-services: #eef0f1;
  --cls-bg-subscribe: #393f43;
  --cls-bg-email: #545a5e;
  --cls-bg-contacts: #2f3539;
  --cls-bg-footer: #262b2f;

  --cls-email-placeholder: #737373;

  --clr-white: #fff;
  --clr-black: #000;

  --section-gradient: linear-gradient(
    90deg,
    rgba(150, 103, 11, 1) 0%,
    rgba(203, 171, 64, 1) 100%
  );

  --hero-bg: url("../images/slide2.jpg");
}

body {
  font-family: Helvetica, sans-serif;
  /* width: 1440px; */
  margin-inline: auto;
}

.section {
  padding: 2rem 10rem;
}

.section:not(:first-of-type) {
  padding-bottom: 4rem;
}

/* Header */
header,
header .main-nav ul {
  display: flex;
  flex-direction: row;
}

header {
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

header .logo {
  font-size: 3rem;
}

header .main-nav ul {
  gap: 4rem;
}

.accent {
  color: var(--clr-teal);
}

header .main-nav .nav__item a {
  text-decoration: none;
  color: var(--clr-black);
  font-size: 2rem;
}

header .main-nav .nav__item.active,
header .main-nav .nav__item:hover {
  border-bottom: 3px solid var(--clr-teal);
}

.btn {
  color: var(--clr-white);
  font-size: 2rem;
  background-color: var(--clr-btn);
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-round {
  border-radius: 2rem;
}

.del {
  width: 10%;
  height: 3px;
  background-color: var(--clr-btn);
  margin-inline: auto;
  margin-bottom: 2rem;
}

.primary {
  background-color: var(--clr-btn-primary);
}

.white {
  background-color: var(--clr-white);
}

.title {
  font-size: 3rem;
  font-weight: 300;
  color: var(--cls-bg-subscribe);
}

.desc {
  font-size: 1.5rem;
}

/* Hero */
#hero {
  height: calc(100vh - 17rem);
  background: var(--hero-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-white);
  display: flex;
  align-items: center;
}

#hero .content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
}

#hero .content .title {
  font-size: 4rem;
  font-weight: 300;
  line-height: 5rem;
  margin-bottom: 1rem;
  color: var(--clr-white);
}

/* Welcome */
#welcome,
#services {
  text-align: center;
}

#welcome .desc {
  margin-bottom: 2rem;
}

/* Services */
#services {
  background-color: var(--clr-bg-services);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

#services header {
  display: unset;
  flex-basis: 100%;
  padding-bottom: 0;
}

#services article {
  flex-basis: 31%;
  background-color: var(--clr-white);
  padding-bottom: 4rem;
  overflow: hidden;
  border-radius: 6px;
}

#services article img {
  margin-bottom: 2rem;
}

#services .art__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#services .desc {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

/* Subscribe */
#subscribe {
  text-align: center;
  background-color: var(--cls-bg-subscribe);
  color: white;
}

#subscribe .title {
  color: var(--clr-white);
}

#subscribe .desc {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

#email {
  background-color: var(--cls-bg-email);
  border: none;
  width: 45%;
  padding: auto;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

/* Footer */

#links {
  background-color: var(--cls-bg-contacts);
  color: var(--clr-white);
  display: flex;
  justify-content: space-around;
}

#links .title {
  font-size: 2rem;
  color: var(--clr-white);
  margin-bottom: 1.5rem;
}

#links p,
#links li {
  font-size: 1.5rem;
}

#social ul {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

#social ul li {
  font-size: 1.5rem;
}

footer .footer {
  padding-block: 1rem;
  color: white;
  background-color: var(--cls-bg-footer);
  text-align: center;
  font-size: 1rem;
}
