@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(reset.css);
:root{
  --clr-red:#cc2627;
  --clr-bg:#f5f5f5;
  --clr-white:#fff;
  --clr-black:#000;

}
body{
  font-family: 'Courgette', cursive;
  padding:4rem 20rem;
  background-color: var(--clr-bg);
}

/* Header */
header{
  margin-bottom: 2rem;
}
header .title{
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0rem;
}

header .sub-title{
  color: #cc2627;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transform: translateX(8%);
}

/* main */
main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.card{
  border-radius: 1rem;
  overflow: hidden;
  height:57vh;
  position: relative;
}

.card .content{
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-white);
  height: 100%;
}

.card .title{
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.card .separator{
  height: 2px;
  width: 100%;
  background-color: var(--clr-red);
  margin-bottom: 0.75rem;
}

.card .desc{
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.card .link{
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--clr-black);
  font-weight: 500;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.card .link .bullet {
  background-color: var(--clr-red);
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 0.25rem;
  line-height: 0.75rem;
  border-radius: 100%;
  margin-left: 0.75rem;
}  

