@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(reset.css);

:root {
  --clr-green: #008000;
  --clr-white: #fff;
  --clr-black: #000;

  --background-image:  url("../image/image1.png");
  --box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.57);
}

body {
  font-family: 'PT Serif', serif;
}

