:root {
  --clr-primary: #185cff;
  --clr-secondary: #002b4e;
  --clr-tertiary: #F0F9FF;
  --clr-helper-1:#194060;
  --clr-helper-2:#607D94;
  --clr-helper-3:#C9DCEC;
  --clr-black:#292D33;
  --clr-grey:#9497A1;
  --clr-bg: #F1F6FA;
  --clr-danger: #C14040;
  --clr-white: #fff;
}
