h1 {
  background-color: lightgreen;
}

@media (max-width: 399px) {
  h1 {
    background-color: lightsalmon;
  }
}

@media (min-width: 400px ) and (max-width: 700px) {
  h1 {
    background-color: lightblue;
  }
}
