body {
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
}

p, ul, time{
  font-family: Helvetica, sans-serif;
}

article{
    width: 70%;
}

img{
    width: 100%;
    height: auto;
    margin:20px 0;
}

aside{
    width: 20%;
}

article, aside{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

