div{
  background-color: lightgrey;
}

article{
  background-color:lightcyan;
  min-width: 10%;
  max-width: 80%;

  height: 150px;
  max-width: 300ox;

  overflow: hidden;
}

article h2 {
  padding: 6px;
}