.container{
    border: 2px dashed black;
    display: flex;
    /* /* flex-direction: column-reverse ; */

    flex-wrap: wrap;
    /* height: 200px;  */

    justify-content:  space-evenly;
    align-items: center;

    /* align-content: space-between;
    height: 600px; */
    gap:24px;
}


.container .item{
    width: 200px;
}

.container .item:nth-child(1){
    height: 80px;
}
